<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal App [Avion]</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
</head>
<body>
    <header id="header" class="journal-header">

        <div class="header-logo journal-logo">
        <%= link_to root_path do%>
            <svg id="j-svg" width="75" height="60" viewBox="0 0 75 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M74.8904 4.25538L55.6964 75.8884C53.5596 83.8631 49.3878 89.603 43.1812 93.108C36.9994 96.5203 29.8748 97.1456 21.8073 94.984C13.6472 92.7975 7.75582 88.6349 4.13322 82.4961C0.535459 76.2646 -0.132897 68.9297 2.12815 60.4913L14.7856 63.8829C13.6112 68.6369 13.7855 72.8082 15.3087 76.3966C16.9245 80.01 20.097 82.4502 24.8262 83.7174C29.5554 84.9846 33.4518 84.5378 36.5154 82.3771C39.6039 80.1237 41.732 76.8179 42.8998 72.4596L62.0938 0.826544L74.8904 4.25538Z" fill="white" />
            </svg>
            <svg id="l-svg" width="74" height="70" viewBox="0 0 74 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.5031 87.5076L70.4419 78.4137L73.1999 88.7066L26.6036 101.192L0.626465 4.24402L13.284 0.852454L36.5031 87.5076Z" fill="white" />
            </svg>
        <% end %>
        </div>

    </header>
</body>
</html>