    <header id="header" class="journal-header">

        <div class="header-logo journal-logo">
        <%= link_to root_path do%>
            GoForIt
        <% end %>
        </div>

        <div class="navbar">
            <div class="navbar-items">
                <%= link_to journals_path do%>
                    <div>
                        Dashboard
                    </div>
                <% end %>
                <%= link_to new_journal_path do%>
                    <div>
                    New Category
                    </div>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign-out?' } do%>
                    <div>
                        Sign Out
                    </div>
                <% end %>
            </div>
        </div>

    </header>
