<%= javascript_pack_tag 'alert' %>

<%= render 'nav' %>

<section id="new-task" class="new-task">

    <div class="container is-flex is-align-items-center is-justify-content-center new-task">

        <div>

            <%= render 'form', journal: @journal, task: @task %>

        </div>

    </div>

</section>
