<%= javascript_pack_tag 'alert' %>

<%= render 'nav' %>

<section id="new-task" class="new-task">

    <div class="container is-flex is-align-items-center is-justify-content-center new-task">

        <div class="new-cat-svg">
            <%= image_tag("editing-body-task-animate.svg", :alt => 'add category image', class: "new-category-svg") %>
        </div>

        <div>

            <svg id="categoryLogo" class="task-logo" width="300" height="100" viewBox="0 0 999 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.192 20.288V53.84H49.768V64.64H13.192V99.2H54.088V110H0.0880127V9.48799H54.088V20.288H13.192Z" stroke="white" stroke-width="5"/>
                <path d="M69.0201 70.256C69.0201 62.192 70.6521 55.136 73.9161 49.088C77.1801 42.944 81.6441 38.192 87.3081 34.832C93.0681 31.472 99.5001 29.792 106.604 29.792C112.748 29.792 118.46 31.232 123.74 34.112C129.02 36.896 133.052 40.592 135.836 45.2V3.43999H149.084V110H135.836V95.168C133.244 99.872 129.404 103.76 124.316 106.832C119.228 109.808 113.276 111.296 106.46 111.296C99.4521 111.296 93.0681 109.568 87.3081 106.112C81.6441 102.656 77.1801 97.808 73.9161 91.568C70.6521 85.328 69.0201 78.224 69.0201 70.256ZM135.836 70.4C135.836 64.448 134.636 59.264 132.236 54.848C129.836 50.432 126.572 47.072 122.444 44.768C118.412 42.368 113.948 41.168 109.052 41.168C104.156 41.168 99.6921 42.32 95.6601 44.624C91.6281 46.928 88.4121 50.288 86.0121 54.704C83.6121 59.12 82.4121 64.304 82.4121 70.256C82.4121 76.304 83.6121 81.584 86.0121 86.096C88.4121 90.512 91.6281 93.92 95.6601 96.32C99.6921 98.624 104.156 99.776 109.052 99.776C113.948 99.776 118.412 98.624 122.444 96.32C126.572 93.92 129.836 90.512 132.236 86.096C134.636 81.584 135.836 76.352 135.836 70.4Z" stroke="white" stroke-width="5"/>
                <path d="M177.997 18.272C175.501 18.272 173.389 17.408 171.661 15.68C169.933 13.952 169.069 11.84 169.069 9.34398C169.069 6.84799 169.933 4.73599 171.661 3.00799C173.389 1.27999 175.501 0.415985 177.997 0.415985C180.397 0.415985 182.413 1.27999 184.045 3.00799C185.773 4.73599 186.637 6.84799 186.637 9.34398C186.637 11.84 185.773 13.952 184.045 15.68C182.413 17.408 180.397 18.272 177.997 18.272ZM184.333 31.088V110H171.229V31.088H184.333Z" stroke="white" stroke-width="5"/>
                <path d="M222.65 41.888V88.4C222.65 92.24 223.466 94.976 225.098 96.608C226.73 98.144 229.562 98.912 233.594 98.912H243.242V110H231.434C224.138 110 218.666 108.32 215.018 104.96C211.37 101.6 209.546 96.08 209.546 88.4V41.888H199.322V31.088H209.546V11.216H222.65V31.088H243.242V41.888H222.65Z" stroke="white" stroke-width="5"/>
                <path d="M359.286 9.63199V20.288H331.926V110H318.822V20.288H291.318V9.63199H359.286Z" stroke="white" stroke-width="5"/>
                <path d="M370.52 70.256C370.52 62.192 372.152 55.136 375.416 49.088C378.68 42.944 383.144 38.192 388.808 34.832C394.568 31.472 400.952 29.792 407.96 29.792C414.872 29.792 420.872 31.28 425.96 34.256C431.048 37.232 434.84 40.976 437.336 45.488V31.088H450.584V110H437.336V95.312C434.744 99.92 430.856 103.76 425.672 106.832C420.584 109.808 414.632 111.296 407.816 111.296C400.808 111.296 394.472 109.568 388.808 106.112C383.144 102.656 378.68 97.808 375.416 91.568C372.152 85.328 370.52 78.224 370.52 70.256ZM437.336 70.4C437.336 64.448 436.136 59.264 433.736 54.848C431.336 50.432 428.072 47.072 423.944 44.768C419.912 42.368 415.448 41.168 410.552 41.168C405.656 41.168 401.192 42.32 397.16 44.624C393.128 46.928 389.912 50.288 387.512 54.704C385.112 59.12 383.912 64.304 383.912 70.256C383.912 76.304 385.112 81.584 387.512 86.096C389.912 90.512 393.128 93.92 397.16 96.32C401.192 98.624 405.656 99.776 410.552 99.776C415.448 99.776 419.912 98.624 423.944 96.32C428.072 93.92 431.336 90.512 433.736 86.096C436.136 81.584 437.336 76.352 437.336 70.4Z" stroke="white" stroke-width="5"/>
                <path d="M500.665 111.296C494.617 111.296 489.193 110.288 484.393 108.272C479.593 106.16 475.801 103.28 473.017 99.632C470.233 95.888 468.697 91.616 468.409 86.816H481.945C482.329 90.752 484.153 93.968 487.417 96.464C490.777 98.96 495.145 100.208 500.521 100.208C505.513 100.208 509.449 99.104 512.329 96.896C515.209 94.688 516.649 91.904 516.649 88.544C516.649 85.088 515.113 82.544 512.041 80.912C508.969 79.184 504.217 77.504 497.785 75.872C491.929 74.336 487.129 72.8 483.385 71.264C479.737 69.632 476.569 67.28 473.881 64.208C471.289 61.04 469.993 56.912 469.993 51.824C469.993 47.792 471.193 44.096 473.593 40.736C475.993 37.376 479.401 34.736 483.817 32.816C488.233 30.8 493.273 29.792 498.937 29.792C507.673 29.792 514.729 32 520.105 36.416C525.481 40.832 528.361 46.88 528.745 54.56H515.641C515.353 50.432 513.673 47.12 510.601 44.624C507.625 42.128 503.593 40.88 498.505 40.88C493.801 40.88 490.057 41.888 487.273 43.904C484.489 45.92 483.097 48.56 483.097 51.824C483.097 54.416 483.913 56.576 485.545 58.304C487.273 59.936 489.385 61.28 491.881 62.336C494.473 63.296 498.025 64.4 502.537 65.648C508.201 67.184 512.809 68.72 516.361 70.256C519.913 71.696 522.937 73.904 525.433 76.88C528.025 79.856 529.369 83.744 529.465 88.544C529.465 92.864 528.265 96.752 525.865 100.208C523.465 103.664 520.057 106.4 515.641 108.416C511.321 110.336 506.329 111.296 500.665 111.296Z" stroke="white" stroke-width="5"/>
                <path d="M592.027 110L561.067 75.152V110H547.963V3.43999H561.067V66.08L591.451 31.088H609.739L572.587 70.4L609.883 110H592.027Z" stroke="white" stroke-width="5"/>
            </svg>


            <%= render 'form', journal: @journal, task: @task %>

        </div>

    </div>

</section>