<%= javascript_pack_tag 'alert' %>

<%= render 'nav' %>

<section id="new-task" class="new-task">

    <div class="container is-flex is-align-items-center is-justify-content-center new-task">

        <div class="new-cat-svg">
            <%= image_tag("mind-map-animate.svg", :alt => 'add category image', class: "new-category-svg") %>
        </div>

        <div>

            <svg id="categoryLogo" class="task-logo" width="300" height="100" viewBox="0 0 999 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M79 107H65.896L13.192 27.08V107H0.0880127V6.488H13.192L65.896 86.264V6.488H79V107Z" stroke="white" stroke-width="5"/>
                <path d="M173.338 64.52C173.338 67.016 173.194 69.656 172.906 72.44H109.834C110.314 80.216 112.954 86.312 117.754 90.728C122.65 95.048 128.554 97.208 135.466 97.208C141.13 97.208 145.834 95.912 149.578 93.32C153.418 90.632 156.106 87.08 157.642 82.664H171.754C169.642 90.248 165.418 96.44 159.082 101.24C152.746 105.944 144.874 108.296 135.466 108.296C127.978 108.296 121.258 106.616 115.306 103.256C109.45 99.896 104.842 95.144 101.482 89C98.122 82.76 96.442 75.56 96.442 67.4C96.442 59.24 98.074 52.088 101.338 45.944C104.602 39.8 109.162 35.096 115.018 31.832C120.97 28.472 127.786 26.792 135.466 26.792C142.954 26.792 149.578 28.424 155.338 31.688C161.098 34.952 165.514 39.464 168.586 45.224C171.754 50.888 173.338 57.32 173.338 64.52ZM159.802 61.784C159.802 56.792 158.698 52.52 156.49 48.968C154.282 45.32 151.258 42.584 147.418 40.76C143.674 38.84 139.498 37.88 134.89 37.88C128.266 37.88 122.602 39.992 117.898 44.216C113.29 48.44 110.65 54.296 109.978 61.784H159.802Z" stroke="white" stroke-width="5""/>
                <path d="M295.755 28.088L271.131 107H257.595L238.587 44.36L219.579 107H206.043L181.275 28.088H194.667L212.811 94.328L232.395 28.088H245.787L264.939 94.472L282.795 28.088H295.755Z" stroke="white" stroke-width="5"/>
                <path d="M408.927 6.632V17.288H381.566V107H368.462V17.288H340.958V6.632H408.927Z" stroke="white" stroke-width="5"/>
                <path d="M420.161 67.256C420.161 59.192 421.793 52.136 425.057 46.088C428.321 39.944 432.785 35.192 438.449 31.832C444.209 28.472 450.593 26.792 457.601 26.792C464.513 26.792 470.513 28.28 475.601 31.256C480.689 34.232 484.481 37.976 486.977 42.488V28.088H500.225V107H486.977V92.312C484.385 96.92 480.497 100.76 475.313 103.832C470.225 106.808 464.273 108.296 457.457 108.296C450.449 108.296 444.113 106.568 438.449 103.112C432.785 99.656 428.321 94.808 425.057 88.568C421.793 82.328 420.161 75.224 420.161 67.256ZM486.977 67.4C486.977 61.448 485.777 56.264 483.377 51.848C480.977 47.432 477.713 44.072 473.585 41.768C469.553 39.368 465.089 38.168 460.193 38.168C455.297 38.168 450.833 39.32 446.801 41.624C442.769 43.928 439.553 47.288 437.153 51.704C434.753 56.12 433.553 61.304 433.553 67.256C433.553 73.304 434.753 78.584 437.153 83.096C439.553 87.512 442.769 90.92 446.801 93.32C450.833 95.624 455.297 96.776 460.193 96.776C465.089 96.776 469.553 95.624 473.585 93.32C477.713 90.92 480.977 87.512 483.377 83.096C485.777 78.584 486.977 73.352 486.977 67.4Z" stroke="white" stroke-width="5"/>
                <path d="M550.305 108.296C544.257 108.296 538.833 107.288 534.033 105.272C529.233 103.16 525.441 100.28 522.657 96.632C519.873 92.888 518.337 88.616 518.049 83.816H531.585C531.969 87.752 533.793 90.968 537.057 93.464C540.417 95.96 544.785 97.208 550.161 97.208C555.153 97.208 559.089 96.104 561.969 93.896C564.849 91.688 566.289 88.904 566.289 85.544C566.289 82.088 564.753 79.544 561.681 77.912C558.609 76.184 553.857 74.504 547.425 72.872C541.569 71.336 536.769 69.8 533.025 68.264C529.377 66.632 526.209 64.28 523.521 61.208C520.929 58.04 519.633 53.912 519.633 48.824C519.633 44.792 520.833 41.096 523.233 37.736C525.633 34.376 529.041 31.736 533.457 29.816C537.873 27.8 542.913 26.792 548.577 26.792C557.313 26.792 564.369 29 569.745 33.416C575.121 37.832 578.001 43.88 578.385 51.56H565.281C564.993 47.432 563.313 44.12 560.241 41.624C557.265 39.128 553.233 37.88 548.145 37.88C543.441 37.88 539.697 38.888 536.913 40.904C534.129 42.92 532.737 45.56 532.737 48.824C532.737 51.416 533.553 53.576 535.185 55.304C536.913 56.936 539.025 58.28 541.521 59.336C544.113 60.296 547.665 61.4 552.177 62.648C557.841 64.184 562.449 65.72 566.001 67.256C569.553 68.696 572.577 70.904 575.073 73.88C577.665 76.856 579.009 80.744 579.105 85.544C579.105 89.864 577.905 93.752 575.505 97.208C573.105 100.664 569.697 103.4 565.281 105.416C560.961 107.336 555.969 108.296 550.305 108.296Z" stroke="white" stroke-width="5"/>
                <path d="M641.668 107L610.708 72.152V107H597.604V0.440002H610.708V63.08L641.092 28.088H659.38L622.228 67.4L659.524 107H641.668Z" stroke="white" stroke-width="5"/>
            </svg>

            <%= render 'form', journal: @journal, task: @task %>

        </div>

    </div>

</section>