<%= javascript_pack_tag 'alert' %>

<section class="home" id="home">

    <header id="header">

        <div class="header-logo">
            GoForIt
        </div>

    </header>

    <main id="main">

        <% if notice %>
            <p class="alert alert-success"><%= notice %>
                <i class='bx bx-x'></i>
            </p>
        <% end %>

        <svg id="logo" width="627" height="104" viewBox="0 0 627 104" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M56.632 1.63198V75.792C56.632 84.048 54.088 90.672 49 95.664C43.912 100.56 37.192 103.008 28.84 103.008C20.392 103.008 13.624 100.512 8.53599 95.52C3.44799 90.432 0.903992 83.52 0.903992 74.784H14.008C14.104 79.68 15.352 83.664 17.752 86.736C20.248 89.808 23.944 91.344 28.84 91.344C33.736 91.344 37.384 89.904 39.784 87.024C42.184 84.048 43.384 80.304 43.384 75.792V1.63198H56.632Z" stroke="white" stroke-width="5"/>
            <path d="M127.951 103.008C118.639 103.008 110.143 100.848 102.463 96.528C94.7834 92.112 88.6874 86.016 84.1754 78.24C79.7594 70.368 77.5514 61.536 77.5514 51.744C77.5514 41.952 79.7594 33.168 84.1754 25.392C88.6874 17.52 94.7834 11.424 102.463 7.10398C110.143 2.68798 118.639 0.47998 127.951 0.47998C137.359 0.47998 145.903 2.68798 153.583 7.10398C161.263 11.424 167.311 17.472 171.727 25.248C176.143 33.024 178.351 41.856 178.351 51.744C178.351 61.632 176.143 70.464 171.727 78.24C167.311 86.016 161.263 92.112 153.583 96.528C145.903 100.848 137.359 103.008 127.951 103.008ZM127.951 91.632C134.959 91.632 141.247 90 146.815 86.736C152.479 83.472 156.895 78.816 160.063 72.768C163.327 66.72 164.959 59.712 164.959 51.744C164.959 43.68 163.327 36.672 160.063 30.72C156.895 24.672 152.527 20.016 146.959 16.752C141.391 13.488 135.055 11.856 127.951 11.856C120.847 11.856 114.511 13.488 108.943 16.752C103.375 20.016 98.9594 24.672 95.6954 30.72C92.5274 36.672 90.9434 43.68 90.9434 51.744C90.9434 59.712 92.5274 66.72 95.6954 72.768C98.9594 78.816 103.375 83.472 108.943 86.736C114.607 90 120.943 91.632 127.951 91.632Z" stroke="white" stroke-width="5"/>
            <path d="M208.466 1.63198V65.136C208.466 74.064 210.626 80.688 214.946 85.008C219.362 89.328 225.458 91.488 233.234 91.488C240.914 91.488 246.914 89.328 251.234 85.008C255.65 80.688 257.858 74.064 257.858 65.136V1.63198H270.962V64.992C270.962 73.344 269.282 80.4 265.922 86.16C262.562 91.824 258.002 96.048 252.242 98.832C246.578 101.616 240.194 103.008 233.09 103.008C225.986 103.008 219.554 101.616 213.794 98.832C208.13 96.048 203.618 91.824 200.258 86.16C196.994 80.4 195.362 73.344 195.362 64.992V1.63198H208.466Z" stroke="white" stroke-width="5"/>
            <path d="M345.67 102L321.766 60.96H305.926V102H292.822V1.63198H325.222C332.806 1.63198 339.19 2.92798 344.374 5.51998C349.654 8.11198 353.59 11.616 356.182 16.032C358.774 20.448 360.07 25.488 360.07 31.152C360.07 38.064 358.054 44.16 354.022 49.44C350.086 54.72 344.134 58.224 336.166 59.952L361.366 102H345.67ZM305.926 50.448H325.222C332.326 50.448 337.654 48.72 341.206 45.264C344.758 41.712 346.534 37.008 346.534 31.152C346.534 25.2 344.758 20.592 341.206 17.328C337.75 14.064 332.422 12.432 325.222 12.432H305.926V50.448Z" stroke="white" stroke-width="5"/>
            <path d="M459.344 102H446.24L393.536 22.08V102H380.432V1.48798H393.536L446.24 81.264V1.48798H459.344V102Z" stroke="white" stroke-width="5"/>
            <path d="M541.01 79.68H497.234L489.17 102H475.346L511.634 2.20798H526.754L562.898 102H549.074L541.01 79.68ZM537.266 69.024L519.122 18.336L500.978 69.024H537.266Z" stroke="white" stroke-width="5"/>
            <path d="M591.817 91.344H626.953V102H578.713V1.63198H591.817V91.344Z" stroke="white" stroke-width="5"/>
        </svg>

        <% if user_signed_in? %>
            <p>
            <%= link_to journals_path, class: 'btn-start' do%>
                Sign Up 
            <% end %>
            </p>
        <% else %>
            <p>
            <%= link_to  new_user_registration_path, class: 'btn-start' do%>
                Sign Up 
            <% end %>
            </p>
        <% end %>

        <section id="section">
            <ul class="icon-list">
                <li class="icon-item">
                    <p class="icon-link"><i class="fab fa-github"></i></p>
                </li>
                <li class="icon-item">
                    <p class="icon-link"><i class="fab fa-linkedin-in"></i></p>
                </li>  
                <li class="icon-item">
                    <p class="icon-link"><i class="fab fa-facebook-f"></i></p>
                </li>
                <li class="icon-item">
                    <p class="icon-link"><i class="fab fa-aws"></i></p>
                </li>
                <li class="icon-item">
                    <p class="icon-link"><i class="fab fa-youtube"></i></p>
                </li>  
            </ul>
        </section>

    </main>

</section>