<%= javascript_pack_tag 'alert' %>

<section class="home" id="home">

<%# Ito yung Header %>

    <header id="header">

        <div class="header-logo">
            GoForIt
        </div>

    </header>

<%# Ito yung main design %>

    <main id="main">

        <% if notice %>
            <p class="alert alert-success"><%= notice %>
                <i class='bx bx-x'></i>
            </p>
        <% end %>

        <% if user_signed_in? %>
            <p>
            <%= link_to journals_path, class: 'btn-start' do%>
                Sign Up 
            <% end %>
            </p>
        <% else %>
            <p>
            <%= link_to  new_user_registration_path, class: 'btn-start' do%>
                Sign Up 
            <% end %>
            </p>
        <% end %>

    </main>

</section>
