<%= javascript_pack_tag 'alert' %>

<%= render 'navbar' %>

<section id="edit-journal" class="edit-journal mt-16">

    <div class="flex gap-32 justify-center custom:flex-col-reverse">
    
        <%= render 'form', journal: @journal %>

        <div>
            <%= image_tag("editing-body-task-animate.svg", :alt => 'edit category image', class: "edit__svg") %>
        </div>

    </div>

</section>

    <footer class="mt-16 text-center">
        <span class="text-gray-700 text-xl font-semibold">by: CS155L_BM2</span>
    </footer>

    <br/><br/>
