<%= javascript_pack_tag 'alert' %>

<%= render 'nav' %>

<section id="new-journal" class="new-journal">

    <div class="container is-flex is-align-items-center is-justify-content-center new-category">

        <div class="">

            <%= render 'form', journal: @journal %>

        </div>

    </div>

</section>
