<%= javascript_pack_tag 'alert' %>

<%= render 'navbar' %>

<section id="new-journal" class="new-journal mt-16">

    <div class="flex gap-32 justify-center custom:flex-col-reverse">

        <%= render 'form', journal: @journal %>

        <div>
            <%= image_tag("add-notes-animate.svg", :alt => 'add category image', class: "add__svg") %>
        </div>

    </div>

</section>

    <br/><br/>

    <footer class="mt-16 text-center">
        <span class="text-gray-700 text-xl font-semibold">by: CS155L_BM2</span>
    </footer>

    <br/><br/>
