// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.journal-index {
    margin: 0 auto;
}

.journal__index {
    margin: 0 auto;
}

.add__svg,
.edit__svg,
.empty__svg {
    width: 400px;
}

.hr-task {
    margin: 0 auto;
}

.empty__svg {
    margin: 0 auto;
}

@media screen and (max-width: 639px) {
    .add__svg,
    .edit__svg,
    .empty__svg {
        width: 250px;
        margin: 0 auto;
    }
}
