// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box {
    background-color: #303447;
    border-radius: 2.5px !important;
    color: #4a4a4a;
    display: block;
    padding: 1rem;
}

.journal-box {
    background-color: transparent !important;
    border-radius: 0 !important;
}

.due-box {
    width: 90%;
    margin: 0 auto;
    background-color: #473043;
}

.your-tasks {
    width: 90%;
    margin: 0 auto;
    background: #6e743daa;
}

.completed {
    width: 90%;
    margin: 0 auto;
    background: #3d744d;
}

.journal-user {
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    margin-top: -0.75rem;
    color: #fbfbfb96;

    .bxs-user-circle {
        position: absolute;
        font-size: 1.25rem;
        margin-left: -1.5rem;
        margin-top: 0.075rem;
        color: #fbfbfb96;
    }
}

.column {
    background: #272a3a;
    margin: 0.75rem;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 1px 1px #272b3a;
    -moz-box-shadow: -1px 1px 1px 1px #272b3a;
    box-shadow: -1px 1px 1px 1px #272b3a;
}

// 

.tile-contents {
    background: #303447;
    border-radius: 5px !important;
    padding: 2rem;
    // width: 100%;
    margin: 1rem;
}

.tile.is-ancestor {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    margin-top: -0.75rem;
}

.tile-contents {
    strong {
        font-size: 1.5rem;
        color: #fff;
    }
}

.button {
    background: transparent;
}

.journal-icons,
.tasks-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1.5rem;
    gap: 0.5rem;

    i {
        font-size: 1.25rem;
        transition: 0.25s ease forwards;
    }

    i:hover {
        transform: scale(1.25);
    }
}

.journals-column {
    strong {
        color: #fff;
        font-size: 1.5rem;
    }

    span {
        color: #fbfbfbbd;
        font-size: 1.25rem;
        line-height: 2;

        i {
            color: #fbfbfbbd;
        }
    }

    .journal-time {
        font-size: 1rem;
        color: #fbfbfb96;
    }

    .journal-icons {

        .bxs-add-to-queue {
            color: #fbfbfb96;
        }

        .bxs-edit {
            color: rgb(211, 211, 7);
        }

        .bxs-trash {
            color: rgb(219, 60, 12);
        }
    }
}

#taskLogo {
    transform: translateY(5px);
    animation: fill 0.5s ease forwards 0.5s;
}

#taskLogo path:nth-child(1) {
    stroke-dasharray: 313;
    stroke-dashoffset: 313;
    animation: line-animation 2s ease forwards 0.3s;
}

#taskLogo path:nth-child(2) {
    stroke-dasharray: 566;
    stroke-dashoffset: 566;
    animation: line-animation 2s ease forwards;
}

.tasks-col {

    .tasks-column {

        strong {
            color: #fff;
            font-size: 1.5rem;
        }

        .tasks-desc {
            color: #fbfbfbbd;
        }
    }
}

.task-progress-container {
    flex-direction: row;
    gap: 5rem;
}

.progress {
    width: 100%;
    border-radius: 0px;
}

.progress.is-small {
    height: .50rem;
}

.add-task {
    transform: translateX(-2.5rem);
    margin-top: 0.5rem;

    a {
        color: #fff;
    }
}

.tasks-time {
    font-size: 1rem;
    color: #fbfbfb96;
    line-height: 2.5;

    .bxs-time {
        color: #fbfbfb96;
    }
}

.tasks-icons {
    .bx-expand-alt {
        color: rgb(59, 158, 1);
    }

    .bxs-edit-alt {
        color: rgb(211, 211, 7);
    }

    .bxs-trash {
        color: rgb(219, 60, 12);
    }
}

.completed-col {
    overflow-y: hidden !important;

    .completed-columns {
        margin-bottom: 1rem !important;

        strong {
            color: #fff;
            font-size: 1.5rem;
        }

        .bxs-chevron-right {
            color: #fbfbfbbd;
        }

        .tasks-desc {
            color: #fbfbfbbd;
        }
    }
}

.empty-task-container {
    flex-direction: column;
    margin: 0 auto;

    p,
    a {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 550;
    }

    .no-tasks-button {
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .columns.is-desktop {
        display: flex;
        padding: 0 10%;
    }

    .column {
        flex: 1 0 21%;
    }
}

@media screen and (max-width: 500px) {
    .box {
        width: 95%;
        margin: 0 auto;
    }

    .journal-user {
        font-size: 0.75rem;
    }

    .bxs-user-circle {
        font-size: 1rem !important;
    }

    .tile-contents {
        width: 90%;
    }

    .tile.is-child {
        /* margin: 0!important; */
        margin-left: 0.5rem !important;
    }

    .column {
        width: 85%;
        margin: 0 auto !important;
        margin-top: 1rem !important;
        transform: translateX(1px);
    }

    .task-progress-container {
        flex-direction: column;
    }

    .add-task {
        transform: translateX(0rem) !important;
        margin-top: -4rem !important;
    }
}
