// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.new-task {
    top: 10%;
    transform: translate(0%, 10%);
    gap: 25%;
}

.task-input {
    width: 125% !important;
}

.textarea {
    color: #000000 !important;
}

.start-now-two {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.start-now-two:hover {
    color: #fff;
}

#task_completed {
    color: #000;

    option {
        color: #000;
    }
}

.task-buttons {
    transform: translateX(-20px);
    font-size: 1.5rem;

    a {
        color: red;
        transform: translateY(2px);
    }
}

.task-show {
    top: 25%;
    left: 0%;
    transform: translate(0%, 25%);
    margin: 0 auto;

    .show-task {
        padding: 0 10%;
        gap: 25%;
    }
}

.show-task-svg {
    width: 450px;
}

.show-task-mini-details {
    strong {
        font-size: 1.5rem;
        color: #fff;
    }

    .bxs-time,
    span {
        color: #fbfbfbbd;
    }
}

.tasks-column {
    strong {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 550;
    }
}

.show-tasks-icons {
    gap: 1rem;

    .bxs-cog {
        color: rgb(59, 158, 1);
    }

    .bx-arrow-back {
        color: rgb(211, 211, 7);
    }

    .bxs-trash {
        color: rgb(219, 60, 12);
    }

    i {
        transition: 0.25s ease forwards;
    }

    i:hover {
        transform: scale(1.5);
    }
}

.show-task-details {
    background: #353641;
    color: white;
    padding: 1rem 1rem;
    border-radius: 5px;
    width: 500px;
    height: 50vh;

    strong {
        color: white;
        font-size: 1.5rem;
        font-weight: 550;
    }
}

@media screen and (max-width: 1024px) and (max-height: 700px) {
    .new-task {
        gap: 15%;
    }
}

@media screen and (max-width: 768px) {
    .new-task {
        margin-top: -5rem;
    }

    .task-input {
        width: 100% !important;
    }

    .task-logo {
        transform: translateX(20px) !important;
    }

    .task-form {
        transform: translateX(20px) !important;
    }

    .show-task {
        margin-top: -9rem;
    }

    .show-task-svg {
        width: 225px;
        transform: translateX(25px);
    }

    .show-tasks-icons {
        flex-direction: row;
        transform: translateY(-1rem);
    }

    .show-task-details {
        width: 300px;
        height: 30vh;
        transform: translateX(-5px);
    }
}